<h1>ユーザー一覧</h1>
<table>
    <% @users.each do |user| %>
    <tr>
       <th>ユーザー名</th>
       <th>ユーザー画像</th>
    </tr>
    <tr>
        <td><%= user.nickname %></td>
    </tr>
    <tr>
        <td>
            <%#= attachment_image_tag user, :profile_image , :fill,100,100,format:'jpeg' %>
        </td>
    </tr>
    <% end %>
</table>