<div class="containar">
    <div class="center-block">
      <h1 class="text-center">Enjoy OTA-KATSU!</h1>
      <p class="text-center">ここは好きなものを好きな人と思いきり共有できるサイトです</p>
      <p class="text-center">自分の購入したグッズ、制作したグッズを紹介したい時や<br >
                      好きなイベントに行った感想を言いたい、意見交換したい時。<br >
                      同じ趣味を持つ人と繋がりを持ちたい時、<br >
                      興味のあるジャンルの情報を探したい時はぜひ活用ください！</p>
      <p class="text-center">誹謗中傷のコメント、著作権を侵害する行為は禁止です。</p>
      <p class="text-center">楽しく交流しましょう！</p>
    </div>
</div>