<div class="card w-50 mx-auto mt-4 shadow-lg">
    <img class="card-img col-xs-8" alt="" style="max-height: 200px;">
  <%= image_tag('topimage.jpg')%></img>
  <div class="mx-auto d-block">
      <h5 class="lead">オタ活(オタク活動)報告ブログサイトです！<br >
                      ここでのオタク活動とは主に二次元作品やキャラクターを好きな人が<br >
                      それに関する趣味の活動を行うことを指します。</h5>
    </div>
  </div>

<div class="card w-50 mx-auto mt-4 shadow-lg">
  <div class="card-body">
    <p class="card-text">ユーザー登録を行わなくても投稿を閲覧することは可能です！<br >
    ※ブログ投稿にはユーザー登録が必要です。<br >
    新規登録は<%= link_to 'こちら',new_user_registration_path, class: 'text-primary' %>からお願いします。
    </p>
  </div>
</div>